# Môi trường ảo Python
.venv/
venv/
.env
.env.*

# Rác hệ thống và Cache
__pycache__/
.vscode/
.DS_Store
*.pyc
*.pyo
*.pyd

# File tự sinh của dbt (Không cần đưa lên mạng)
target/
dbt_packages/
logs/

# Streamlit secrets local
.streamlit/secrets.toml

# Windows metadata
*:Zone.Identifier
